<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>add_user</title>
</head>
<body>
	<form action="" method="post">
		用户名： <input type="text" name="username" id=""> <br>
		密码： <input type="password" name="password" id=""> <br>
		确认密码： <input type="password" name="repassword" id=""> <br>
		<!-- 性别 ：input:r -->
		<!-- 电子邮箱: <input type="text" name="email" id=""> <br> -->
		手机号码： <input type="text" name="phone" id=""> <br>
  		<input type="submit" value="submit">

	</form>
</body>
</html>