<!--栏目菜单-->
    <div class="row_category">
        <ul>
            <li><a href="每日新货.html">
                <div>
                    <img src="{{url_for('static',filename='images/hot.png')}}" class="all_img" /></div>
                <span>热卖菜品</span></a></li>
            <li><a href="#">
                <div>
                    <img src="{{url_for('static',filename='images/te.png')}}" class="all_img" /></div>
                <span>限时特价</span></a></li>
            <li><a href="#">
                <div> 
                <img src="{{url_for('static',filename='images/jing.png')}}" class="all_img" /></div>
                <span>精品专题</span></a></li>
            <li><a href="#">
                <div>
                    <img src="{{url_for('static',filename='images/pu.png')}}" class="all_img" /></div>
                <span>佳肴菜谱</span></a></li>
        </ul>
    </div>
    <!--栏目菜单 end-->