<!--头部-->
    <header class="header">
        <div class="header_l"><a href="/good_list">
            <img src="{{url_for('static', filename='images/ico_nav.png')}}" />
        </a></div>
        <div class="search_r">
            <div class="search_box">
          
                <input type="text" placeholder="搜索想买的菜或菜谱" />
                <button type="submit"></button>
            </div>
            <div class="header_r"><a href="#">
                <img src="{{url_for('static', filename = 'images/ico_news.png')}}" />
            </a></div>
        </div>
    </header>
    <!--头部结束-->